html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 550px;
    margin: 0 auto;
}

#openNums {
    color: red;
    font-size: 1em;
    display: inline-block;
    margin-top: 0.6em;
}

#ClearCompletedTodos {
    margin-top: -0.3em
}